<% if with_swf? %>
  <span style="display: none" data-web-socket-swf-location="/__rack/WebSocketMain.swf" data-force-swf="<%=force_swf?%>" id="swf_options"></span>
  <script type="text/javascript" src="<%= app_root %>/__rack/swfoptions.js"></script>
  <script type="text/javascript" src="<%= app_root %>/__rack/swfobject.js"></script>
  <script type="text/javascript" src="<%= app_root %>/__rack/web_socket.js"></script>
<% end %>

<span style="display: none" data-live-reload-port="<%= @options[:live_reload_port] %>" id="live_reload_options"></span>
<script type="text/javascript" src="<%= app_root %>/__rack/live_reload_port.js"></script>
<script type="text/javascript" src="<%= livereload_source %>"></script>

